/* ___ personalizacion ___ */
.flexCol--col-content-card-personalizacion {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 1025px) {
    .flexCol--col-content-card-personalizacion {
      flex-direction: column;
    }
  
    .flexRowContent--row-content-card-personalizacion {
      width: 78%;
      margin: auto;
    }
  }
  
  @media (min-width: 1026px) {
    .flexCol--col-content-card-personalizacion {
      flex-direction: row;
    }
  
    .flexCol--col-content-card-personalizacion,
    .flexColChild--col-content-card-personalizacion {
      padding: 0 1.223958vw;
    }
  
    .flexColChild--col-content-card-personalizacion {
      width: 30%;
    }
  }
  
  /* ___ fin personalizacion ___ */

  /* ___ restauracion modal ___ */
.closeIcon--modal-header-bloque-2-restauracion {
  width: 24px;
  height: 24px;
}

.headerContainer--modal-header-bloque-2-restauracion {
  border: none;
}

.closeIcon--modal-header-bloque-2-restauracion {
  width: 22px;
  height: 22px;
}

.headerContainer--modal-header-bloque-2-restauracion {
  border: none;
  position: absolute;
  right: 0;
}

.paper--modal-iframe-bloque-2-restauracion {
  width: 740px;
}

.triggerContainer--modal-header-bloque-2-restauracion {
  width: 100%;
}

.triggerContainer--modal-trigger-bloque-2-restauracion {
  width: 100%;
}

/* ___ fin restauracion modal ___ */
