/* ____ artesanalidad ____ */
.flexCol--col-banner-dos-artesanalidad {
  display: flex;
}

.flexColChild--col-banner-dos-artesanalidad {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100% !important;
}

@media (max-width: 1025px) {
  .flexColChild--col-banner-dos-artesanalidad:last-child {
    padding: 0 4vw;
  }

  .flexCol--col-banner-dos-artesanalidad {
    flex-direction: column;
  }

  .flexColChild--col-banner-cinco-artesanalidad:nth-child(2n) {
    order: 1;
  }

  .flexColChild--col-banner-cinco-artesanalidad:first-child {
    order: 2;
  }

  .flexColChild--col-banner-cinco-artesanalidad:last-child {
    order: 3;
  }

  .flexRow--row-banner-cinco-artesanalidad {
    margin-bottom: 22.222222vw;
  }

  .flexColChild--col-banner-siete-artesanalidad:nth-child(2n) {
    order: 1;
  }

  .flexColChild--col-banner-siete-artesanalidad:first-child {
    order: 2;
  }

  .flexColChild--col-banner-siete-artesanalidad:last-child {
    order: 3;
  }
}

@media (min-width: 1026px) {
  .flexColChild--col-banner-dos-artesanalidad {
    width: 50%;
  }

  .flexRow--row-banner-dos-artesanalidad {
    margin-top: 4.427083vw;
    padding: 0 2.5vw;
    margin-bottom: 9.635417vw;
  }

  .flexCol--col-banner-dos-artesanalidad {
    flex-direction: row;
    background-color: #f5f5f5;
  }
}

/* ____ fin artesanalidad ____ */