.paragraph--banner-principal-tres-tiempo-lectura {
    margin: 0;
    color: #606060;
    font-weight: 400;
}

.container--banner-principal-tres-tiempo-lectura {
    justify-content: flex-start;
}

.paragraph--banner-principal-tres-tiempo-lectura {
    margin-top: 7px;
    font-size: 0.520833vw;
    padding-left: 1.302083vw;
}

.headingLevel1--memoria-tres-sosteniblilidad {
    margin: 0;
    color: #606060;
    font-weight: 700;
}

.headingLevel1--memoria-tres-sosteniblilidad {
    font-size: 1.770833vw;
    line-height: 2.03125vw;
    letter-spacing: 0.083333vw;
}

.headingLevel1--title-segundo-memoria-tres-sosteniblilidad {
    margin-top: 1.5vw;
    margin-bottom: 2.8vw;
}

.wrapper--title-paragraph-memoria-tres-sosteniblilidad {
    width: 90%;
}

.headingLevel1--title-paragraph-memoria-tres-sosteniblilidad {
    margin-top: 7vw;
    margin-bottom: 1.5vw;
}

.paragraph--title-paragraph-memoria-tres-sosteniblilidad:last-child {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.headingLevel1--title-cuarto-memoria-tres-sosteniblilidad {
    margin-top: 5.5vw;
    margin-bottom: 2.5vw;
}

.paragraph--paragraph-text-lfg,
.headingLevel6--paragraph-cuarto-memoria-tres-sostenibilidad {
    margin: 0;
    font-weight: 400;
}

.paragraph--paragraph-text-lfg {
    font-size: 0.9375vw;
    line-height: 1.145833vw;
    letter-spacing: 0.083333vw;
}

.paragraph--text-segundo-memoria-tres-sostenibilidad {
    text-align: left;
}

.paragraph--text-segundo-memoria-tres-sostenibilidad:last-child {
    margin-top: 1.5vw;
}

.container--text-segundo-memoria-tres-sostenibilidad {
    padding-left: 2.34375vw;
    padding-right: 7.8125vw;
}

.paragraph--btn-texto-ver-video-youtube-pop-up-cap-3-lfg {
    margin: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    border: 1px solid;
    font-style: normal;
    text-align: center;
}

.paragraph--btn-texto-ver-video-youtube-pop-up-cap-3-lfg:hover {
    border-color: transparent;
    background-color: #ffffff42;
}

.paragraph--btn-texto-ver-video-youtube-pop-up-cap-3-lfg {
    width: 12.5vw;
    height: 2.135417vw;
    font-size: 0.833333vw;
    line-height: 2.135417vw;
}

.container--btn-texto-ver-video-youtube-pop-up-cap-3-lfg {
    margin-top: -8vw;
}

.paragraph--paragraph-text-lfg,
.headingLevel6--paragraph-cuarto-memoria-tres-sostenibilidad {
    margin: 0;
    font-weight: 400;
}

.wrapper--paragraph-cuarto-memoria-tres-sostenibilidad {
    width: 80%;
}

.headingLevel6--paragraph-cuarto-memoria-tres-sostenibilidad {
    margin-top: 10px;
    margin-bottom: 1.5vw;
    font-size: 0.729167vw;
    line-height: 0.885417vw;
    letter-spacing: 0.083333vw;
}

.paragraph--paragraph-cuarto-memoria-tres-sostenibilidad:last-child {
    margin-top: 1.5vw;
}

@media only screen and (max-width: 1025px) {
    .paragraph--banner-principal-tres-tiempo-lectura {
        letter-spacing: 0;
        font-size: 2.58216vw;
        line-height: 3.286385vw;
    }

    .headingLevel1--memoria-tres-sosteniblilidad {
        font-size: 4.694836vw;
        line-height: 5.399061vw;
        letter-spacing: 0.375587vw;
    }

    .headingLevel1--title-segundo-memoria-tres-sosteniblilidad {
        margin-top: 7.5vw;
        margin-bottom: 3vw;
    }

    .headingLevel1--title-paragraph-memoria-tres-sosteniblilidad {
        margin-top: 15vw;
        margin-bottom: 4.5vw;
    }

    .paragraph--title-paragraph-memoria-tres-sosteniblilidad:last-child {
        margin-top: 4.5vw;
        margin-bottom: 11vw;
    }

    .headingLevel1--title-cuarto-memoria-tres-sosteniblilidad {
        padding: 0 13.028169vw;
        margin-top: 14.5vw;
        margin-bottom: 11vw;
    }

    .container--paragraph-text-lfg {
        padding: 0 13.028169vw;
    }

    .paragraph--paragraph-text-lfg {
        font-size: 3.286385vw;
        line-height: 3.286385vw;
        letter-spacing: 0.328638vw;
    }

    .paragraph--text-segundo-memoria-tres-sostenibilidad:last-child {
        margin-top: 5.5vw;
        margin-bottom: 11vw;
    }
    .paragraph--text-segundo-memoria-tres-sostenibilidad {
        text-align: center;
    }


    .paragraph--btn-texto-ver-video-youtube-pop-up-cap-3-lfg {
        width: 52.427184vw;
        height: 11.407767vw;
        line-height: 11.407767vw;
        font-size: 3.883495vw;
    }

    .container--btn-texto-ver-video-youtube-pop-up-cap-3-lfg {
        margin-top: -36vw;
    }

    .headingLevel6--paragraph-cuarto-memoria-tres-sostenibilidad {
        margin-top: 2vw;
        margin-bottom: 7vw;
        font-style: normal;
        line-height: normal;
        font-size: 2.347418vw;
        letter-spacing: 0.234742vw;
    }

    .paragraph--paragraph-cuarto-memoria-tres-sostenibilidad:last-child {
        margin-top: 4.5vw;
        margin-bottom: 3vw;
    }

}
