.triggerContainer--modal-trigger-video-youtube-pop-up-cap-3-lfg {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.paper--modal-iframe-video-youtube-pop-up-cap-3-lfg {
    overflow: hidden;
    background-color: transparent;
}
.closeIcon--modal-header-video-youtube-pop-up-cap-3-lfg {
    color: white;
  }
  .paper--modal-iframe-video-youtube-pop-up-cap-3-lfg {
    overflow: hidden;
    background-color: transparent;
  }
