.wrapper--text-terminos-y-condiciones{
    margin-top: 20px;
    padding: 0 3rem;
    margin-bottom: 5rem;
}

.heading--text-terminos-y-condiciones{
    text-align: center;
}
.container--text-terminos-y-condiciones{
    max-width: 97rem;
    margin: 0 auto;
}
