.trigger.trigger--trigger-btn-mobile-material-precioso {
    padding: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
}

.content.content--trigger-btn-mobile-material-precioso {
    margin: 0 0 0 0;
}
