.header {
  &::after {
    left: 0;
    content: '';
    width: 100%;
    z-index: 99;
    height: 1px;
    position: fixed;
    pointer-events: none;
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.2);
  }

  .headerBand,
  .headerRow {
    background-color: white;
  }

  &--transparent {
    .headerRow {
      z-index: 99;
      position: absolute;
    }
  }

  &--sticky {
    .headerNav {
      top: 0;
      position: fixed;
    }
  }

  &Col {

    &Left,
    &Right {
      flex: 1;
      overflow: hidden;
    }

    &Center {
      flex-shrink: 0;
    }
  }

  @media (max-width: 1025px) {
    &:not(.header--transparent) {
      min-height: $menu-height-mob;
    }

    &::after {
      top: calc($menu-height-mob - 10px);
    }
  }

  @media (min-width: 1026px) {
    &:not(.header--transparent) {
      min-height: $menu-height;
    }

    &::after {
      top: calc($menu-height - 10px);
    }
  }
}

.containerLogin {
  padding-left: 11.5px;
}

.containerMiniCart {
  padding-left: 13px;
  padding-right: 11.5px;
}

.menuIcon,
.iconLogin,
.iconBurger,
.iconSearch,
.navLogoVZBox,
:global(.vtex-store-icons-0-x-cartIcon) {
  fill: $c-primary;
}

.menuItemIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400 !important;
  color: transparent !important;
}

.menuIcon {
  width: 100%;
  height: auto;
  position: absolute;
}

.iconLogin,
.iconSearch,
.iconBurger,
:global(.vtex-store-icons-0-x-cartIcon) {
  width: 17px;
  height: auto;
}

.menuItemStyle--red {
  font-weight: 600;
  color: $c-sale !important;
}

.menuItemLink {
  &--level-1 {
    font-size: 12px;
    position: relative;
    letter-spacing: 1.44px;
  }

  &--level-999 {
    font-weight: 600;
  }


  @media (min-width: 1026px) {
    &:not(&--level-1):not(&--level-2) {
      display: block;
      font-size: 14px;
      margin-bottom: 14px;
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &--level-2 {
      display: flex;
      font-weight: 600;
      margin-bottom: 35px;
      flex-direction: column;
    }

    &--level-2 {
      width: 100%;
      font-size: 12px;
      max-height: 100%;
      position: relative;
      letter-spacing: 1.8px;
    }

    &--level-3 {
      font-size: 14px;
      letter-spacing: 0.98px;
    }
  }

  @media (max-width: 1025px) {
    & {
      width: auto;
      font-size: 12px;
      position: relative;
      letter-spacing: 1.8px;
    }

    &:not(&--level-1) {
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &--level-3 {
      font-weight: 300;
    }
  }
}

.sliderLayoutContainer {
  min-height: 38px;
}

.containerSearch {
  height: 37px;
  padding-right: 10px;
  box-sizing: border-box;

  &--active {
    border-radius: 5px;
    padding-left: 24px;
    border: 1px solid $c-primary;
  }
}

.loginPopUp {
  right: 0;
  opacity: 0;
  width: 243px;
  height: 113px;
  z-index: -999;
  margin-top: 5px;
  visibility: hidden;
  background-color: white;
  box-shadow: 2px 6px 19px -10px rgba(0, 0, 0, 0.64);
}

.iconLoginButton,
:global(.vtex-minicart-2-x-minicartIconContainer),
.containerSearch:not(.containerSearch--active) .iconSearchButton {
  &::after {
    content: "";
    width: 100%;
    bottom: -5px;
    position: absolute;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
  }

  &:hover::after {
    border-bottom-color: $c-primary;
  }
}

.loginOverlay {
  :global(.vtex__icon-close) {
    width: 30px;
    height: auto;
  }

  :global(.vtex-modal__modal) {
    max-width: 734px;
  }

  :global(.vtex-styleguide-9-x-scrollBar) {
    padding-top: 57.5px;
    padding-bottom: 94.5px;
  }

  :global(.vtex-modal__overlay) {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.loginButtonModal,
.linkLogin:not(:last-child) {
  margin-bottom: 15px;
}

.linkLogin,
.loginButtonModal {
  font-size: 14px;
  letter-spacing: 2.1px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


@media (max-width: 1025px) {
  // .headerContent {
  //   min-height: 45px;
  // }

  .headerColLeft {
    display: flex;
    flex-direction: row;
  }

  .headerRow {
    min-height: 45px;
    padding: 5px 15px;
  }

  .buttonIconSearch {
    margin-right: 15px;
  }

  .portalContainer {
    z-index: 2147483646 !important;
  }

  .subMenuItem {
    height: 0;
    opacity: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menu {
    height: 100%;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
  }

  .navLogoVZBox {
    height: auto;
    width: 86.811px;
  }

  .menuItem {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &Link {
      margin: 7.5px 0;
      text-align: center;
    }

    &Link:not(.menuItemIcon) {
      display: block;
    }

    &Link.menuItemIcon {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &Icon {
      width: max-content;
    }
  }

  .menuItem--level-2.menuItem--active {
    background-color: #F5F5F5;

    .menuItemLink--level-999 {
      font-weight: 300;
    }
  }

  .menuMobile {
    &Header {
      display: flex;
      position: relative;
      align-items: center;
      padding: 26px 26px 0;
      flex-direction: column;

      :global(.vtex-modal__close-icon) {
        right: 26px;
      }

      .navLogoVZLink {
        margin-bottom: 36px;
      }
    }

    &Container {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: flex;
      position: fixed;
      overflow-y: auto;
      overflow-x: hidden;
      visibility: hidden;
      z-index: 9999999999;
      align-items: flex-start;
      background: rgba(0, 0, 0, 0.75);
      transition: opacity 0.3s ease, visibility 0.3s ease;

      & {
        &--visible {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &Content {
      margin: auto;
      height: 100%;
      max-height: 100%;
      position: relative;
      background: #ffffff;
      background-clip: padding-box;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .menuMobileContainer--modal-search {

    :global(.vtex-store-components-3-x-portalContainer--menu) {
      width: 100%;
      position: initial !important;
    }

    :global(.vtex-store-components-3-x-searchBarInnerContainer--menu) {
      height: auto;
    }

    :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
      width: 100%;
    }

    :global(.vtex-search-2-x-biggy-autocomplete) {
      opacity: 1;
      padding: 0;
      box-shadow: none;
      transition: none;
      position: initial;
      max-height: 100% !important;
    }
  }
}

@media (min-width: 1026px) {
  .headerRow {
    padding: 12px 32px;
  }

  .headerColRight {
    padding-left: 45px;
  }

  .menuItem--level-1 {
    margin-right: 40px;
    height: min-content;
  }

  .menuItemLink--level-1 {
    // margin: 6px 0;

    &::after {
      left: 0;
      content: "";
      bottom: 0px;
      width: 100%;
      position: absolute;
      border-bottom: 1px solid transparent;
    }
  }

  .subMenuItemBox--level-1 {
    left: 0;
    opacity: 0;
    width: 100%;
    height: 450px;
    z-index: -999;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    visibility: hidden;
    flex-direction: row;
    padding: 70px 30px 25px;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom, transparent 0px, transparent 10px, white 10px, white 100%);
  }
}



/*___ menu effect ___ */
.headerRow {
  transition: background-color 0.3s ease;
}

.menuIcon,
.iconLogin,
.iconBurger,
.iconSearch,
.navLogoVZBox,
:global(.vtex-store-icons-0-x-cartIcon) {
  transition: fill 0.5s ease;
}

.subMenuItemBox--level-1 {
  transition: opacity 0.3s ease-in-out;
}

.loginPopUp {
  transition: opacity 0.5s ease-in-out;
}

.menuItemLink--level-1 {
  transition: color 0.5s ease, font-weight 0.3s ease;

  &::after {
    transition: border-bottom 0.3s ease;
  }
}

@mixin activeLoginPopUp {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.containerLogin {
  &--active .iconLoginButton::after {
    border-bottom-color: $c-primary;
  }

  &--active {
    .loginPopUp {
      @include activeLoginPopUp;
    }
  }
}

@mixin headerRowStyles {
  .headerRow {
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent 97%);
  }
}

@mixin headerStyles {

  .menuIcon,
  .iconLogin,
  .iconSearch,
  .iconBurger,
  .navLogoVZBox,
  :global(.vtex-store-icons-0-x-cartIcon) {
    fill: white;
  }

  .menuItemLink--level-1 {
    color: white;
  }
}



@media (max-width: 1025px) {
  .header {
    &--transparent:not(&--sticky):not(&--colorEffectHidden) {
      @include headerRowStyles;

      .headerColRight,
      .headerColCenter,
      .buttonIconSearch,
      .iconSearchButton {
        @include headerStyles;
      }
    }
  }
}

@media (min-width: 1026px) {
  .menuItemLink {
    &:not(&--level-1):hover {
      text-decoration: underline;
    }
  }

  .menuItem--level-1:hover {
    .menuItemLink--level-1 {
      font-weight: 700;

      &::after {
        border-bottom-color: $c-primary;
      }

      &.menuItemStyle--red::after {
        border-bottom-color: $c-sale;
      }
    }

    .menuItemIcon::after {
      border-color: black;
    }

    .subMenuItemBox--level-1 {
      opacity: 1;
      z-index: 999;
      visibility: visible;
    }
  }

  .containerLogin:hover .loginPopUp {
    @include activeLoginPopUp;
  }

  .header {
    &--transparent:not(&--sticky):not(&--colorEffectHidden):not(&:hover) {
      @include headerRowStyles;
      @include headerStyles;
    }
  }
}

/*___ fin menu effect ___ */


/* ___ whatsapp ___ */
.whatsapp {
  &Button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #1A5C10;
  }

  &Icon {
    fill: white;
    width: 44.571px;
    height: 44.571px;
    position: absolute;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    &--open {
      opacity: 1;
    }

    &--close {
      opacity: 0;
      padding: 0 5px;
      box-sizing: border-box;
    }
  }

  &Items {
    right: 0;
    opacity: 0;
    width: 340px;
    bottom: 73px;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(85px, 80px) scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &Item {
    opacity: 0;
    display: flex;
    min-height: 65px;
    padding: 9px 12px;
    background: #FFF;
    margin-bottom: 7px;
    border-radius: 13px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #1A5C10;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;

    &:first-child {
      transition-delay: 0.1s;
    }

    &:nth-child(2n) {
      transition-delay: 0.2s;
    }

    &:nth-child(3n) {
      transition-delay: 0.3s;
    }

    &:nth-child(4n) {
      transition-delay: 0.4s;
    }


    &Link {
      color: #1A5C10;
      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }

    &Title {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    &Text {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &Container {
    right: 1rem;
    bottom: 3rem;
    position: fixed;

    &--visible {
      .whatsapp {
        &Icon--close {
          opacity: 1;
          transform: rotate(180deg);
        }

        &Items {
          opacity: 1;
          transform: scale(1);
        }

        &Item {
          opacity: 1;
          transform: translateY(0);
        }

        &Button {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        &Icon--close {
          transform: rotate(135deg);
        }

        &Icon--open {
          opacity: 0;
        }
      }
    }
  }
}

/* ___ fin whatsapp ___ */
