.minicartWrapperContainer {

    .openIconContainer,
    :global(.vtex-button__label) {
        padding: 0 !important;
    }

    :global(.vtex-button) {
        border: none;
        min-height: auto;

        &:hover {
            background-color: transparent;
        }
    }
}

.minicartIconContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.minicartQuantityBadge {
    font-size: 10px;
    border-radius: 50%;
    top: -0.1rem;
    right: -0.4rem;
    width: 0.5rem;
    height: 0.5rem;
}
