.minicartSummary {
  display: block;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__hide {
    display: none;
  }

  &__item {
    margin-top: $s-4;
    display: flex;
    width: fit-content;
    align-items: center;
    flex-direction: row;

    .item__name {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #b7b4b4;
      margin: 0;
    }

    .item__value {
      font-family: $f-family-primary;
      font-style: normal;
      font-weight: 400;
      font-size: $t-7;
      line-height: 125%;

      text-align: right;
      letter-spacing: 0.01em;

      &--Items {
        color: $c-neutral-400;
      }

      &--Discounts {
        color: $c-black;
      }

      &--Total {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #707070;
      }
    }
  }

  &__installments {
    .installments__text {
      margin: 0;
      display: none;
      min-width: 150px;
      align-items: center;

      font-family: $f-family-primary;
      font-style: normal;
      font-weight: 400;
      font-size: $t-8;
      line-height: 150%;

      text-align: right;
      letter-spacing: 0.0125em;

      color: $c-neutral-400;

      .installments__label {
        margin-right: 4px;
      }
    }
  }
}
