$colors: ("lila": #B8A7B8,
    "kaky": #DAC1A7,
    "mora": #C17F9F,
    "gris": #8C8C8C,
    "miel": #B9823A,
    "azul": #3A609A,
    "rojo": #992121,
    "cafe": #614231,
    "plata": #E0DDDA,
    "crema": #EEE8DF,
    "beige": #E9E1D2,
    "camel": #E1BFA2,
    "arena": #D7C2B9,
    "verde": #555F44,
    "negro": #000000,
    "rosado": #E8B09E,
    "tabaco": #AD9186,
    "bronce": #AB856F,
    "brandy": #C7674E,
    "dorado": #BEAC88,
    "fucsia": #DB4C89,
    "morado": #4A2F4E,
    "grafito": #4D4B4C,
    "mostaza": #D1974B,
    "naranja": #D07635,
    "natural": #F1D3BB,
    "amarillo": #EBD250,
    "oro-mate": #D7B989,
    "vinotinto": #693339,
    "terracota": #AC4E32,
    "azul-claro": #8AA0BF,
    "cafe-claro": #A06442,
    "agua-marina": #A7BDBE,
    "azul-oscuro": #22344E,
    "verde-limon": #D7CB47,
    "verde-oliva": #888B69,
    "gris-pistola": #A5A9AF,
    "azul-aguamarina": #47858F,
    "combinado": (to bottom right, #614231 47%, #000000 53%),
    "multicolor": (to right, #992121, #D07635, #EBD250, #555F44, #3A609A, #4A2F4E, #DB4C89));

@mixin apply-colors($prefix) {

    @each $name,
    $value in $colors {
        #{$prefix}#{$name} {
            border: none;

            // Si el valor es un color (hex o RGB), aplicar background-color
            @if type-of($value)=="color" {
                background-color: $value;
            }

            // Si el valor es un gradiente, aplicar background con linear-gradient
            @else {
                background: linear-gradient($value);
            }
        }
    }
}
