.wrapper--title-nuestros-servicios {
    margin: 0 auto;
}

.container--title-vitrina-home {
    margin: 24px 0;
}

.wrapper--title-vitrina-home {
    margin: 0 auto;
}

.heading--title-vitrina-home {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: center;
    letter-spacing: 0.12em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.paragraph--text-banner-home {
    text-align: center;
    margin: 0.2rem;

}

@media (max-width: 1025px) {
    .paragraph--title-nuestros-servicios {
        font-size: 16px;
    }

}

@media (min-width: 1026px) {
    .paragraph--title-nuestros-servicios {
        font-size: 20px;
    }

}
