.wrapper--title-nuestros-servicios{
    margin: 0 auto;
    
}

.paragraph--title-nuestros-servicios{
        
    font-size: 1.157407vw;
}

.container--title-vitrina-home{
    margin: 24px 0;
    .wrapper--title-vitrina-home{
        margin: 0 auto;
        .paragraph--title-vitrina-home{
            font-size: 14px;
            font-weight: 500;
            line-height: 16.94px;
            letter-spacing: 0.12em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        
        
    }
}

.paragraph--text-banner-home{
    text-align: center;
}
