.imageElement--img-section-1-baner-fidelizacion,
.imageElement--img-quiero-section-1-img,
.imageElement--img-quiero-section-2-img,
.imageElement--img-quiero-section-3-img {
  width: 100%;
}

.imageElement--img-quiero-section-familia,
.imageElement--img-quiero-section-amigos,
.imageElement--img-quiero-section-cercanos {
  width: 40px;
  height: 40px;
}

