.trigger--item-disclosure-trigger-quiero-section-1,
.trigger--item-disclosure-trigger-quiero-section-2,
.trigger--item-disclosure-trigger-quiero-section-3 {
    border: none;
    padding: 0;
    width: 100%;
}
