.messageSelectWrapper {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $c-secondary;
}
.input-select-wrapper {
  display: none;
}
.label-select-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  padding-right: 23px;
  padding-left: 11px;
}

.label-select-wrapper .input-select-wrapper:checked ~ .checkmarkSelectWrapper {
  border-radius: 50%;
  background: $c-secondary;
  margin-right: 6px;
}

.checkmarkSelectWrapper {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid $c-secondary;
}
.messageCost {
  margin: 6px 0 0;
  font-family: 'Helvetica-Light';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: $c-secondary;
}
.form-send-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.form-send-wrapper-input,
.form-send-wrapper-textarea {
  border: 1px solid #e5e5e5;
  width: 100%;
  outline: none;
  

  padding: 8px;

  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.9px;
  color: #828282;
  &::placeholder {
    font-family: 'Helvetica-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #cfcfcf;
  }
}

.form-send-wrapper-input {
  min-height: 38px;
}

.form-send-wrapper-textarea {
  min-height: 71px;
  resize: none;
}

.form-send-wrapper-label {
  font-family: 'Helvetica-Light';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.51%;
  color: $c-secondary;

  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
}

.form-send-wrapper-submit {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background: #8e8e8e;
  border: 0;
  cursor: pointer;

  margin-top: 15px;
  min-height: 45px;
  max-width: 279px;
  width: 100%;
  letter-spacing: 0.9px;
}

.form-send-wrapper-error-message {
  display: block;

  min-height: 20px;

  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.9px;
  color: #ae1701;
}

.form-send-wrapper-submit:hover {
  transition: opacity ease-in-out 300ms;
  opacity: 0.8;
}
.form-inputs-row {
  display: flex;
  gap: 7px;
}
