.mediaButton{
    text-decoration: none;
}
.mediaButtonContainer  {
    position: relative;
}

.mediaContainer--banner-tres-mujer-human-depto{
    width: 100%;
}

.imageElement--banner-tres-mujer-human-depto{
    width: 100%;
}

.headerNav{
    z-index: 998 !important;
}
