.paragraph--text-titulo-lectura-sostenibilidad-leather-dos {
    font-size: 0.520833vw;
    font-weight: 600;
}

.container--text-titulo-lectura-sostenibilidad-leather-dos {
    display: flex;
    justify-content: flex-start;
    padding-left: 1.2vw;
    padding-top: 0.5vw;
}

.paragraph--text-titulo-septima-sostenibilidad-leather-dos,
.paragraph--text-titulo-cuarta-sostenibilidad-leather-dos,
.paragraph--text-titulo-secundarios-sostenibilidad-leather-dos,
.paragraph--text-titulo-novena-sostenibilidad-leather-dos {
    font-weight: 700;
    font-size: 1.770833vw;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
}

.wrapper--text-titulo-secundarios-sostenibilidad-leather-dos {
    padding-top: 1.2vw;
}

.wrapper--text-parrafo-secundarios-sostenibilidad-leather-dos {
    width: 36%;
    padding-top: 0.7vw;
    padding-bottom: 2.8vw;
}

.wrapper--text-1-terciaria-sostenibilidad-leather-dos {
    padding-top: 0.5vw;
}

.container--text-1-terciaria-sostenibilidad-leather-dos {
    display: flex;
    justify-content: flex-start;
}

.paragraph--text-1-terciaria-sostenibilidad-leather-dos {
    font-size: 0.729167vw;
}

.paragraph--text-2-terciaria-sostenibilidad-leather-dos {
    text-align: start;
    font-size: 0.9375vw;
    letter-spacing: 0.09vw;
}

.strong--text-2-terciaria-sostenibilidad-leather-dos {
    font-weight: 800;
}

.wrapper--text-2-terciaria-sostenibilidad-leather-dos {
    padding-right: 10%;
    padding-top: 0.5vw;
}


.wrapper--text-titulo-cuarta-sostenibilidad-leather-dos {
    padding-top: 7.4vw;
}

.wrapper--text-parrafo-cuarta-sostenibilidad-leather-dos {
    width: 56%;
    padding-top: 0.5vw;
    padding-bottom: 1.7vw;
}

.wrapper--text-titulo-interno-cuarta-sostenibilidad-leather-dos {
    width: 52%;
    padding-top: 1.8vw;
}

.wrapper--text-titulo-septima-sostenibilidad-leather-dos {
    padding-bottom: 0.5vw;
    padding-top: 6.8vw;
}

.wrapper--text-parrafo-septima-sostenibilidad-leather-dos {
    width: 39%;
}

.wrapper--text-parrafo-septima-sostenibilidad-leather-dos {
    padding-bottom: 1vw;
}


.wrapper--text-parrafo-octava-sostenibilidad-leather-dos {
    padding-top: 1vw;
}

.wrapper--text-parrafo-octava-sostenibilidad-leather-dos-2 {
    padding-bottom: 1vw;
}

.wrapper--text-parrafo-octava-sostenibilidad-leather-dos {
    width: 67%;
}

.wrapper--text-parrafo-octava-sostenibilidad-leather-dos-2 {
    width: 64%;
}

.wrapper--text-titulo-novena-sostenibilidad-leather-dos {
    padding-top: 6.8vw;
}

.wrapper--text-parrafo-novena-sostenibilidad-leather-dos {
    width: 52%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.wrapper--text-parrafo-decima-sostenibilidad-leather-dos {
    width: 54.1%;
}

@media (max-width:1025px) {
    .paragraph--text-titulo-lectura-sostenibilidad-leather-dos {
        font-size: 2.820513vw;
        font-weight: 600;
    }

    .container--text-titulo-lectura-sostenibilidad-leather-dos {
        display: flex;
        justify-content: center;
        padding-left: 1.2vw;
        padding-top: 0.5vw;
    }

    .paragraph--text-titulo-septima-sostenibilidad-leather-dos,
    .paragraph--text-titulo-secundarios-sostenibilidad-leather-dos,
    .paragraph--text-titulo-novena-sostenibilidad-leather-dos,
    .paragraph--text-titulo-cuarta-sostenibilidad-leather-dos {
        font-weight: 700;
        font-size: 4.528205vw;
        letter-spacing: 0.5vw;
        text-transform: uppercase;
    }

    .wrapper--text-titulo-secundarios-sostenibilidad-leather-dos {
        padding-top: 7.2vw;
    }

    .wrapper--text-parrafo-secundarios-sostenibilidad-leather-dos {
        width: 83%;
        padding-top: 4.5vw;
        padding-bottom: 9.5vw;
    }

    .wrapper--text-1-terciaria-sostenibilidad-leather-dos {
        padding-top: 1.2vw;
    }

    .container--text-1-terciaria-sostenibilidad-leather-dos {
        display: flex;
        justify-content: center;
    }

    .paragraph--text-1-terciaria-sostenibilidad-leather-dos {
        font-size: 2.864103vw;
        letter-spacing: 0;
    }

    .paragraph--text-2-terciaria-sostenibilidad-leather-dos {
        text-align: center;
        letter-spacing: 0.4vw;
    }

    .strong--text-2-terciaria-sostenibilidad-leather-dos {
        font-weight: 800;
    }

    .wrapper--text-2-terciaria-sostenibilidad-leather-dos {
        padding-top: 9.5vw;
        width: 80.4%;
    }

    .container--text-2-terciaria-sostenibilidad-leather-dos {
        display: flex;
        justify-content: center;
    }

    .wrapper--text-titulo-cuarta-sostenibilidad-leather-dos {
        padding-top: 7.4vw;
    }

    .wrapper--text-parrafo-cuarta-sostenibilidad-leather-dos {
        width: 78%;
        padding-top: 5vw;
        padding-bottom: 2.7vw;
    }

    .wrapper--text-titulo-interno-cuarta-sostenibilidad-leather-dos {
        width: 85%;
        padding-top: 4.8vw;
    }

    .paragraph--text-titulo-septima-sostenibilidad-leather-dos {
        line-height: 1.2;
    }

    .wrapper--text-titulo-septima-sostenibilidad-leather-dos {
        padding-bottom: 4.5vw;
        padding-top: 12.5vw;
        width: 68%;
    }

    .wrapper--text-parrafo-septima-sostenibilidad-leather-dos {
        width: 87.4%;
        padding-bottom: 7vw;
    }

    .wrapper--text-parrafo-octava-sostenibilidad-leather-dos {
        width: 83%;
        padding-top: 6vw;
        padding-bottom: 3.5vw;
    }

    .wrapper--text-titulo-novena-sostenibilidad-leather-dos {
        padding-top: 4.8vw;
        width: 80%;
    }

    .wrapper--text-parrafo-novena-sostenibilidad-leather-dos {
        width: 78%;
        padding-top: 1vw;
        padding-bottom: 4vw;
    }

    .wrapper--text-parrafo-decima-sostenibilidad-leather-dos {
        width: 93.5%;
        padding-top: 4vw;
        padding-bottom: 4.8vw;
    }

    .wrapper--text-parrafo-decima-sostenibilidad-leather-dos-2 {
        width: 82%;
    }

}
