.modalFilter {
    :global(.vtex-modal__overlay) {
        padding: 0;
        background-color: transparent !important;
    }

    :global(.vtex-modal__modal) {
        width: 410px;
        margin-right: 0;
        margin-bottom: 0;
    }

    :global(.vtex__icon-close) {
        fill: $c-primary;
    }

    :global(.vtex-styleguide-9-x-scrollBar) {
        padding: 0;
    }

    :global(.vtex-styleguide-9-x-shadowTransition) {
        z-index: 9;
    }

    :global(.vtex-modal__close-icon) {
        padding: 0;
        top: 25px;
        right: 45px;
    }

    @media (max-width: 1025px) {
        :global(.vtex-modal__modal) {
            height: 100%;
        }
    }

    @media (min-width: 1026px) {
        :global(.vtex-modal__modal) {
            height: calc(100% - $menu-height);
        }
    }
}

.iconFilter {
    padding: 0 12px;
    fill: $c-primary;
}

.box--selling-price-savings {
    display: flex;
    flex-direction: row;
}

.buttonFilter {
    font-size: 12px;
    font-weight: 400;
    color: $c-primary;
    font-style: normal;
    line-height: normal;
}

.box--search-filters {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box--quick-filters {
    flex: 1;
    min-height: inherit;
}

.box--plp-crossborder {
    margin: 5px 0 0;
    font-weight: 400;
    text-align: left;
    position: absolute;
    font-style: normal;
    line-height: normal;
    color: $c-secondary;
}

.box--container-filters {
    z-index: 99;
    margin: auto;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    background-color: white;

    @media (max-width: 1025px) {
        min-height: 27px;
        flex-wrap: wrap;
        top: $menu-height-mob;
    }

    @media (min-width: 1026px) {
        padding: 0 90px;
        min-height: 50px;
        top: $menu-height;

        &::after {
            left: 50%;
            bottom: 0;
            content: "";
            position: absolute;
            width: calc(100% - 180px);
            transform: translateX(-50%);
            border-bottom: 1px solid $c-secondary;
        }
    }
}

.bottom-product {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1026px) {
    .box--plp-crossborder {
        font-size: 11px;
        letter-spacing: 0.44px;
    }
}

@media (max-width: 1025px) {
    .box--search-filters {
        padding: 6px 0;
    }

    .box--quick-filters {
        padding-right: 20px;
    }
}

/* ___ text seo ___ */
.seoTexData {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 74.625rem;
    letter-spacing: 0.038rem;
}

.seoTexDataContent {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.seoTexDataButton {
    margin: 1rem auto 0;
    font-size: 12px;
}

.container--long-description .wrapper--long-description {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.link--long-description {
    color: $c-primary;
}

.paragraph--long-description {
    margin-bottom: 1rem;
}

.link--long-description,
.listItem--long-description,
.paragraph--long-description {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.038rem;
}

.container--long-description .heading,
.container--long-description .heading .link--content {
    font-weight: 500;
}

.headingLevel2--long-description {
    font-size: 1rem;
    letter-spacing: 0.038rem;
}

.headingLevel2--long-description .link--long-description {
    font-size: 1rem;
}

.headingLevel3--long-description {
    font-size: 0.75rem;
    letter-spacing: 0.038rem;
}

/* ___ fin text seo ___ */
