.container {
    height: auto;
    position: relative;
    max-width: 100% !important;
}

.element {
    padding: 0;
    height: auto;
}

.clearLink {
    height: auto;
}

.imageContainer {
    width: 100%;
}

.image--shelf {
    width: 100%;
    max-height: 100%;
}

.nameContainer {
    padding: 0;
    margin: 25px 0 20px;
}

.productNameContainer {
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .productBrand {
        font-weight: 300;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.56px;

        @media (max-width: 1025px) {
            font-size: 12px;
        }

        @media (min-width: 1026px) {
            font-size: 14px;
        }
    }
}
