.caretIcon--slider-content-memorias-lfg-prin {
    opacity: 1;
}

.sliderArrows--slider-content-memorias-lfg-prin {
    color: #FFFFFF;
}

.sliderArrows--slider-content-memorias-lfg-prin:disabled {
    display: none;
}
