.slideProductImage:not(:first-child) {
    .productImage {
        margin-top: 15px;
    }
}

.thumbsProductImage .slideProductImage {
    width: 100%;
}

.swiperListProductImage {
    width: auto;
    height: 100%;
}

.box--product {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box--add-product-cart {

    :global(.vtex-add-to-cart-button-0-x-buttonText) {
        font-size: 14px;
    }
}

.productColor:not(:last-child) {
    margin-right: 12px;
}

.productColorContainer {
    margin: 8px 0;
}

.swiperThumbsProductImage {
    display: flex;
    justify-content: center;
}

.productColor {
    position: relative;
    border: 1px solid #70707070;

    &--active {
        &:first-child {
            margin-left: 3px;
        }

        &::after {
            top: 50%;
            left: 50%;
            content: '';
            position: absolute;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            border: 1px solid black;
            transform: translate(-50%, -50%);
        }
    }
}


@include apply-colors(".productColor--");


.box--price-pdp {
    display: flex;
    flex-direction: row;
}

.specificationsContainer {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.specificationsParagraph {
    font-size: 12px;
}

.trigger--pdp {
    border: none;
    display: flex;
    padding: 16px 0;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    color: $c-secondary;
    line-height: normal;
    flex-direction: row;
    letter-spacing: 0.48px;
    background-color: transparent;
    justify-content: space-between;
    border-bottom: 1px solid #70707040;

    &::after {
        content: "";
        width: 18px;
        height: 18px;
        transition: 0.5s;
        display: inline-block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2.01933 5.81252L2.81696 5.01489L9.00014 11.1981L15.1833 5.01489L15.981 5.81252L9.00014 12.7933L2.01933 5.81252Z' fill='%235F6368'/%3E%3C/svg%3E");
    }

    &--visible::after {
        transform: rotate(-180deg);
    }
}

.containerProductImage {
    position: relative;
}

.reviewsContainer {
    margin: auto;
    position: relative;
}

.reviewsButtons {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    border-bottom: 1px solid #F4F4F4;
}

.reviewsButton {
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 25px 0;
    font-weight: 400;
    font-style: normal;
    color: $c-secondary;
    line-height: normal;
    background-color: transparent;
}

.reviewsActive {
    font-weight: 600;
    color: #1a1a1a;
    border-bottom: 1px solid;
}

.reviewsView {
    :global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) {
        display: none;
    }
}

.reviewsPut {

    :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy),
    :global(.vtex-reviews-and-ratings-3-x-reviewCommentsContainer) {
        display: none;
    }
}

@media (max-width: 1025px) {
    .box--product {
        flex-direction: column;
    }

    .swiperThumbsProductImage {
        width: 100vw;
        height: auto;
    }

    .productImage {
        width: 100%;
        height: auto;
    }

    .containerProductImage {
        width: 100%;
        height: auto;
    }

    .box--product-right {
        padding: 9px 15px 0;
    }

    .productColor {
        width: 34px;
        height: 34px;
    }

    .box--add-product-cart {
        margin-top: 13px;
    }

    .scrollUpView-hidden {
        min-height: 113px;

        .scrollUpView--pdp-right-responsive {
            left: 0;
            bottom: 0;
            z-index: 1;
            padding: 10px;
            position: fixed;
            background-color: white;
        }
    }

    .reviewsContainer {
        width: 100%;
        margin-top: 30px;
        padding: 37px 20px 20px;
    }

    .reviewsButton {
        width: 50%;
    }
}

@media (min-width: 1026px) {
    .box--product {
        padding: 0 5.7vw;
        flex-direction: row;
    }

    .box--product-right {
        width: 615px;
        margin: 0 5.8vw;
        padding: 35px 0;
    }

    .swiperThumbsProductImage {
        height: 60vh;
    }

    .thumbsProductImage {
        margin-left: 2.7vw;
        margin-right: 5vw;
    }

    .productImage {
        width: auto;
        height: 100%;
    }

    .containerProductImage {
        padding: 35px 0;
        height: calc(100vh - $menu-height);
    }

    .productColor {
        width: 24px;
        height: 24px;
    }

    .box--add-product-cart {
        margin-top: 39px;
    }

    .containerProductImageFlyup .listProductImage {
        border: 1px solid $c-primary;
    }

    .reviewsContainer {
        width: calc(100% - 11.4vw);
    }

    .reviewsButton {
        width: 165px;
    }
}
