.heading--title-container-vitrina-pdp {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    line-height: normal;
    color: $c-secondary;
    letter-spacing: 1.92px;
}

.wrapper--title-container-vitrina-pdp {
    margin: 0 auto;
    padding-bottom: 32px;
}

.paragraph--product-devoluciones {
    margin: 0;
    font-size: 12px;
    color: $c-primary;
    font-style: normal;
    font-weight: 400;
    line-height: 16.596px;
    letter-spacing: 1.44px;

    @media (max-width: 1025px) {}

    @media (min-width: 1026px) {
        max-width: 50vw;
    }
}
