.productNameContainer {
    color: $c-primary;
    font-style: normal;
}

.skuSelectorInternalBox {
    border: none;
    height: auto;
}

.valueWrapper {
    padding: 0;
    font-weight: 300;
    font-style: normal;
    color: $c-secondary;
    line-height: normal;
}

.skuSelectorItem {
    margin: 0;
    height: auto;

    &:not(:last-child) {
        margin-right: 27px;
    }
}

.skuSelectorOptionsList {
    margin: 0;
}

.skuSelectorItem--selected .valueWrapper {
    font-weight: 700;
    color: $c-primary;
}

.unavailable {
    pointer-events: none;
}

.skuSelectorContainer {
    width: 100%;
}

.skuSelectorSubcontainer--talla {
    margin: 0 0 25px;

    .skuSelectorNameContainer {
        margin: 0;
    }
}

.shippingContainer {
    display: flex;
    align-items: center;
    flex-direction: column;



    :global(.vtex-button) {
        position: absolute;
        margin: auto auto 0;
    }
}

@media (max-width: 1025px) {
    .productNameContainer {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 18px;
        margin-bottom: 9px;
    }

    .valueWrapper {
        font-size: 12px;
    }

    .shippingTableBody {
        max-height: 35vh;
        overflow: auto;
    }

    .shippingContainer {

        :global(.vtex-address-form__city),
        :global(.vtex-address-form__state) {
            width: 100%;
            padding: 10px 0;
        }

        :global(.vtex-button) {
            bottom: 20px;
            height: 50px;
            width: calc(100% - 40px);
        }
    }

    .shippingTable {
        margin: 0;
        padding: 0;
        margin-bottom: 70px;
    }
}

@media (min-width: 1026px) {
    .productNameContainer {
        font-size: 15px;
        padding: 25px 0;
        font-weight: 600;
        line-height: 20.745px;
        letter-spacing: 0.6px;
    }

    .valueWrapper {
        font-size: 15px;
    }

    .shippingContainer {
        :global(.vtex-address-form__state) {
            width: 50%;
            padding-right: 20px;
        }

        :global(.vtex-address-form__city) {
            width: 50%;
            padding-left: 20px;
        }

        :global(.vtex-button) {
            width: 50%;
            bottom: 40px;
            height: 50px;
        }
    }

    .shippingTable {
        margin-bottom: 50px;
    }
}
