.product-identifier__separator {
    display: none;
}


.product-identifier {
    width: 100%;
    display: block;
    font-weight: 300;
    color: $c-secondary;
    font-style: normal;
    line-height: normal;
}


@media (max-width: 1025px) {
    .product-identifier {
        font-size: 12px;
    }
}

@media (min-width: 1026px) {
    .product-identifier {
        font-size: 14px;
        margin-top: 15px;
        padding-bottom: 17px;
        border-bottom: 1px solid $c-secondary;
    }
}
