.productNameContainer {
    color: $c-primary;
    font-style: normal;
}

.skuSelectorInternalBox {
    border: none;
    height: auto;
}

.valueWrapper {
    padding: 0;
    font-weight: 300;
    font-style: normal;
    color: $c-secondary;
    line-height: normal;
}

.skuSelectorItem {
    margin: 0;
    height: auto;

    &:not(:last-child) {
        margin-right: 27px;
    }
}

.skuSelectorOptionsList {
    margin: 0;
}

.skuSelectorItem--selected .valueWrapper {
    font-weight: 700;
    color: $c-primary;
}

.unavailable {
    pointer-events: none;
}

.skuSelectorSubcontainer--talla {
    margin: 25px 0;

    .skuSelectorNameContainer {
        margin: 0;
    }
}



@media (max-width: 1025px) {
    .productNameContainer {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 18px;
        margin-bottom: 9px;
    }

    .valueWrapper {
        font-size: 12px;
    }
}

@media (min-width: 1026px) {
    .productNameContainer {
        font-size: 15px;
        padding: 25px 0;
        font-weight: 600;
        line-height: 20.745px;
        letter-spacing: 0.6px;
    }

    .valueWrapper {
        font-size: 15px;
    }
}
