:global(.vtex-store-components-3-x-box--product-right) {

    .term,
    .homeLink,
    .caretIcon,
    .termArrow {
        display: none;
    }


    .term,
    .arrow {
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: $c-secondary;
        text-transform: capitalize;

        &:not(.arrow--1)::before {
            content: "/";
            padding: 0 13px;
        }
    }

    .link:focus,
    .link:hover,
    .link:active,
    .link:visited {
        color: unset;
    }

}
