.link--quick-section-product {
    padding: 5px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: $c-secondary;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    background-color: #F5F5F5;

    &::before {
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 10px;
        display: inline-block;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.link--shipping-simulator {
    pointer-events: none;

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5.68788 19.1155C4.96022 19.1155 4.34313 18.8612 3.83663 18.3525C3.3303 17.844 3.07713 17.2265 3.07713 16.5H1.69238V6.6155C1.69238 6.15517 1.84655 5.77083 2.15488 5.4625C2.46322 5.15417 2.84755 5 3.30788 5H16.5386V8.6155H18.8464L22.3079 13.2692V16.5H20.6924C20.6924 17.2265 20.4377 17.844 19.9284 18.3525C19.4189 18.8612 18.8003 19.1155 18.0726 19.1155C17.3448 19.1155 16.7277 18.8612 16.2214 18.3525C15.7149 17.844 15.4616 17.2265 15.4616 16.5H8.30788C8.30788 17.2308 8.05313 17.8494 7.54363 18.3558C7.0343 18.8622 6.41572 19.1155 5.68788 19.1155ZM5.69238 18.1155C6.14238 18.1155 6.52413 17.9587 6.83763 17.6453C7.15113 17.3317 7.30788 16.95 7.30788 16.5C7.30788 16.05 7.15113 15.6683 6.83763 15.3548C6.52413 15.0413 6.14238 14.8845 5.69238 14.8845C5.24238 14.8845 4.86063 15.0413 4.54713 15.3548C4.2338 15.6683 4.07713 16.05 4.07713 16.5C4.07713 16.95 4.2338 17.3317 4.54713 17.6453C4.86063 17.9587 5.24238 18.1155 5.69238 18.1155ZM2.69238 15.5H3.33863C3.48097 15.059 3.77072 14.6795 4.20788 14.3615C4.64505 14.0435 5.13988 13.8845 5.69238 13.8845C6.21938 13.8845 6.70788 14.0403 7.15788 14.352C7.60788 14.6635 7.90405 15.0462 8.04638 15.5H15.5386V6H3.30788C3.15405 6 3.01297 6.06408 2.88463 6.19225C2.75647 6.32042 2.69238 6.4615 2.69238 6.6155V15.5ZM18.0771 18.1155C18.5271 18.1155 18.9088 17.9587 19.2221 17.6453C19.5356 17.3317 19.6924 16.95 19.6924 16.5C19.6924 16.05 19.5356 15.6683 19.2221 15.3548C18.9088 15.0413 18.5271 14.8845 18.0771 14.8845C17.6271 14.8845 17.2454 15.0413 16.9319 15.3548C16.6184 15.6683 16.4616 16.05 16.4616 16.5C16.4616 16.95 16.6184 17.3317 16.9319 17.6453C17.2454 17.9587 17.6271 18.1155 18.0771 18.1155ZM16.5386 13.5H21.2501L18.3079 9.6155H16.5386V13.5Z' fill='%23707070'/%3E%3C/svg%3E");
    }
}

.link--product-whatsapp::before {
    background-size: 19px 19px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M5.92601 15.1648L6.49976 15.4994C7.45827 16.0583 8.54761 16.3568 9.68436 16.3568C13.1822 16.3568 16.4998 12.9972 16.4998 9.49939C16.4998 6.00158 12.9976 2.49939 9.49976 2.49939C6.00194 2.49939 2.64184 5.81608 2.64184 9.31388C2.64184 10.451 2.94048 11.5407 3.49976 12.4994L3.83414 13.0726L2.99976 15.9994L5.92601 15.1648ZM1.58729 17.4167L2.6576 13.4833C1.97504 12.3133 1.58398 10.9524 1.58398 9.50004C1.58398 5.12778 5.1284 1.58337 9.50067 1.58337C13.8729 1.58337 17.4173 5.12778 17.4173 9.50004C17.4173 13.8723 13.8729 17.4167 9.50067 17.4167C8.04883 17.4167 6.68828 17.0259 5.51847 16.3438L1.58729 17.4167ZM6.64379 5.7858C6.74978 5.77835 6.85613 5.77721 6.96226 5.78239C7.00514 5.78521 7.04781 5.79016 7.09051 5.7951C7.21659 5.80965 7.35523 5.88644 7.40185 5.99212C7.63802 6.52762 7.86717 7.06618 8.08928 7.60766C8.13829 7.7272 8.10876 7.88214 8.0155 8.03205C7.96816 8.10892 7.89381 8.21675 7.80767 8.32703C7.71814 8.44158 7.52545 8.65225 7.52545 8.65225C7.52545 8.65225 7.44738 8.74582 7.47681 8.86227C7.48827 8.90629 7.52483 8.97042 7.55798 9.02433C7.57634 9.05417 7.59338 9.08085 7.60444 9.0993C7.80705 9.43758 8.07939 9.78053 8.41205 10.103C8.50736 10.1954 8.59983 10.2896 8.69926 10.3772C9.07 10.7041 9.48943 10.9712 9.94242 11.169L9.94645 11.1709C10.0133 11.1997 10.0477 11.2154 10.1456 11.257C10.195 11.2779 10.2455 11.2959 10.2974 11.3096C10.3162 11.3145 10.3354 11.3173 10.3547 11.3187C10.4827 11.3263 10.5568 11.2442 10.5883 11.2065C11.1611 10.5126 11.2135 10.4673 11.2175 10.4676V10.4689C11.2928 10.3896 11.4111 10.362 11.5167 10.3685C11.5649 10.3714 11.6129 10.3807 11.6568 10.4007C12.0778 10.5928 12.7661 10.8923 12.7661 10.8923L13.2265 11.0993C13.3036 11.1365 13.374 11.2241 13.3774 11.3093C13.3794 11.3623 13.3851 11.4478 13.3662 11.6042C13.3414 11.809 13.2791 12.0556 13.2172 12.1848C13.1737 12.2755 13.1173 12.3559 13.0518 12.424C12.9629 12.5163 12.8968 12.5723 12.79 12.652C12.7249 12.7004 12.6912 12.7232 12.6912 12.7232C12.5812 12.7926 12.5192 12.8273 12.3882 12.897C12.1844 13.0055 11.9593 13.0679 11.7287 13.0798C11.5816 13.0873 11.435 13.0979 11.2882 13.09C11.2817 13.0896 10.8383 13.0215 10.8383 13.0215C9.71268 12.7254 8.67163 12.1708 7.79806 11.4016C7.61945 11.2444 7.45381 11.0743 7.28474 10.906C6.5809 10.2053 6.04807 9.44969 5.72496 8.73497C5.56563 8.38252 5.46474 8.00506 5.46315 7.61665C5.46023 7.13616 5.61753 6.66841 5.91021 6.28735C5.96791 6.21223 6.02267 6.13431 6.11715 6.0451C6.21721 5.95061 6.28089 5.89989 6.34949 5.86479C6.44093 5.81802 6.54136 5.793 6.64379 5.7858Z' fill='%23707070'/%3E%3C/svg%3E");
}

.link--product-devoluciones::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.673 19V18H17.327V15.5H20.673V14.5H17.327V12H19.623V11H17.327V8.08848L19.0845 4.23448L18.1692 3.80773L16.2422 7.99998H4.41147L6.28447 4.04223L5.36922 3.61523L3.32697 7.99998V19H21.673ZM12.327 12.5H8.32697C8.18531 12.5 8.06656 12.452 7.97072 12.356C7.87489 12.26 7.82697 12.1411 7.82697 11.9992C7.82697 11.8574 7.87489 11.7387 7.97072 11.6432C8.06656 11.5477 8.18531 11.5 8.32697 11.5H12.327C12.4686 11.5 12.5874 11.548 12.6832 11.644C12.7791 11.74 12.827 11.8589 12.827 12.0007C12.827 12.1426 12.7791 12.2612 12.6832 12.3567C12.5874 12.4522 12.4686 12.5 12.327 12.5ZM16.327 18H4.32697V8.99998H16.327V18Z' fill='%23707070'/%3E%3C/svg%3E%0A");
}


@media (max-width: 1025px) {
    .link--quick-section-product {
        width: 100%;
        margin: 8px 0;
    }
}

@media (min-width: 1026px) {}
