.product-identifier__separator {
    display: none;
}

.product-identifier__label {
    color:#707070;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}


.product-identifier {
    width: 100%;
    display: block;
    margin-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid $c-secondary;
}
