.sliderTrackContainer--vitrina-pdp {
    padding: 0 1px;

    .slide--vitrina-pdp {
        border-bottom: 1px solid $c-primary;
        border-top: 1px solid $c-primary;
        border-right: 1px solid $c-primary;
        padding: 0;
    }
}
